fastapi==0.111.1
fastapi-cli==0.0.4
transformers @ git+https://github.com/huggingface/transformers.git@44f6fdd74f84744b159fa919474fd3108311a906
huggingface-hub==0.24.2
torch==2.0.1
pydantic==2.8.2
uvicorn==0.22.0